.teamScreens{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    min-height: 60vh;
}

.topBar{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    padding: 10px 0px;
    margin: 10px;
    border: 2px solid #1C6EA4;
}

.roundGrid {
    grid-column: 5 / 9;
}
.timerGrid {
    grid-column: 10 / 12;
}

.gifGrid {
    margin: 10px 10px;
    display: flex;
    grid-column: 2/9;
}